<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
    </head>

    <body>
        
        <!-- Hero Section -->
        <section id="page-header" class="blog-header">
            <h2 class="select-none">#readMore</h2>
            <p class="select-none">Read all case studies about our products!</p>
        </section> 

        <!-- Blog Section -->
        <section id="blog">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b1.jpg" alt="B-1">
                </div>
                <div class="blog-details">
                    <h4>Elegant Evening Gown</h4>
                    <p>This exquisite evening gown exudes elegance and sophistication, making it the perfect choice for formal events and special occasions. Crafted from luxurious satin fabric, its flowing silhouette gracefully drapes along the body, while the intricate beadwork and sequin embellishments add a touch of glamour.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>13/01</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b2.jpg" alt="B-2">
                </div>
                <div class="blog-details">
                    <h4>Cozy Cashmere Sweater</h4>
                    <p>Embrace warmth and style with this luxurious cashmere sweater. Made from the finest cashmere fibers, it offers unparalleled softness and comfort against the skin. The classic crew neck design and ribbed cuffs provide a timeless appeal, making it a versatile piece for both casual outings and refined gatherings.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>12/21</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b3.jpg" alt="B-3">
                </div>
                <div class="blog-details">
                    <h4>Versatile Tailored Blazer</h4>
                    <p>Elevate your professional attire with this versatile tailored blazer. Cut to perfection, this blazer features a sleek lapel collar, structured shoulders, and a single-button closure that accentuates your silhouette with a modern flair. </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>10/06</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b4.jpg" alt="B-4">
                </div>
                <div class="blog-details">
                    <h4>Relaxed Boho Maxi Dress</h4>
                    <p>Embrace carefree bohemian vibes with this relaxed maxi dress. Made from lightweight and breathable fabric, this dress exudes comfort and femininity. The loose, flowing silhouette is complemented by a boho-inspired print and delicate embroidery, perfect for sunny days and beach getaways. </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>11/05</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b5.jpg" alt="B-5">
                </div>
                <div class="blog-details">
                    <h4>Athleisure Hooded Jacket</h4>
                    <p>Embrace the fusion of fashion and function with this trendy athleisure hooded jacket. Crafted from a high-performance blend of materials, it provides optimal comfort and flexibility during workouts or outdoor activities.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>12/23</h1>
            </div>
        </section>

        <!--Slider Page Icon  -->
        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
        </section>
    </body>

</html>