<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <section id="Header">
            <a href="/"><img src="/img/logo.png" alt="Cara" class="logo"></a>
        
            <div>
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="/shop">Shop</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                    <li class="lg-bag"><a href="/cart"><i class="fa-solid fa-bag-shopping head-Cart"></i></a></li>
                    <a href="#" id="Close"><i class="fa-solid fa-xmark"></i></a>
                </ul>
            </div>
        
            <div id="mobile">
                <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fa-solid fa-bars"></i>
            </div>
        
           
        </section>
        <script src="https://kit.fontawesome.com/19dfb206c9.js" crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
