<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List with Product Table</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 sm:px-8 py-8">
        <h2 class="text-2xl font-semibold leading-tight mb-4">Orders</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Order ID</th>
                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Date</th>
                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Total</th>
                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Payment Method</th>
                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Payment Status</th>

                        <th class="px-4 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Products</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <% if(orders && orders.length >0) {%> 
                        <%    orders.forEach(order=>{ %>
                            <%- include('orderItem',{order}) %> 
                        <% }) %>
                        <% } %>
                    
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function toggleProducts(id) {
            const element = document.getElementById(id);
            element.classList.toggle('hidden');
        }
        function paymentViaVNPay(id) {
            console.log('kaka')
            console.log(id)
            fetch('/order/vnpay-payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    order_id: id
                }),
            })
            .then(response =>
                response.json()
            )
            .then(data=>{
                console.log(data,data.paymentUrl)
                if (data && data.paymentUrl) {  
                window.location.href = data.paymentUrl;
                } else {
                    console.error("No paymentUrl in response data:", data);
                }

            })
            .catch(error => {
                console.error('Error:', error);
            });
            }
    </script>
</body>
</html>