<div 
    style="transition: box-shadow 0.2s;transition: transform 0.2s; box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);border: 1px solid #cce7d0 " 
    onmouseover="this.style.boxShadow='20px 20px 30px rgba(0, 0, 0, 0.06)';" 
    onmouseout="this.style.boxShadow='20px 20px 30px rgba(0, 0, 0, 0.02)';"
    class=" relative p-3 rounded-2xl border border-teal-400 border-solid cursor-pointer hover:scale-105 " 
    onclick="window.location.href='/products/<%-product.product_id%>';">
        <img 
            class="h-[350px] object-cover rounded-xl w-full" src=<%= product.img %> alt="P-6">
            <div class="flex flex-col items-start pt-4 gap-2">
                            <!-- <span>cara</span> -->
                <h5 class="text-sm font-light"> <%= product.product_name%></h5>
                    <div class="star">
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                    </div>
                <h4 
                    style="color: #088178;"
                    class="text-base font-semibold"><%= product.price/1000%>K</h4>
            </div>
            <a href="../cart/cart.html" 
                style="color: #088178;background-color: #e8f6ea;"
                class="flex items-center justify-center w-10 h-10 rounded-full absolute bottom-[20px] right-[15px] font-semibold ">
                <i class="fa-solid fa-bag-shopping" ></i>
            </a>
</div>
