
    <div>
        <!-- Hero Section -->
        <section id="img-slider" >
            <div class="slide active">
                <img src="/img/hero1.png" alt="">
                <div class="info">
                    <h4 class="select-none">Trade-In-Offer</h4>
                    <h2 class="select-none">Super Value Deals</h2>
                    <h1 class="select-none">On all products</h1>
                    <p class="select-none">Save more with coupons & up to 70% off!</p>
                    <button class=""> Shop Now</button>
                </div>
            </div>
            <div class="slide">
                <img src="/img/hero-2.png" alt="">
                <div class="info">
                    <h4 class="select-none">Trade-In-Offer</h4>
                    <h2 class="select-none">Super Value Deals</h2>
                    <h1 class="select-none">On all products</h1>
                    <p class="select-none">Save more with coupons & up to 70% off!</p>
                    <button> Shop Now</button>
                </div>
            </div>
            
            <div class="slide">
                <img src="/img/hero3.png" alt="">
                <div class="info">
                    <h4 class="select-none">Trade-In-Offer</h4>
                    <h2 class="select-none">Super Value Deals</h2>
                    <h1 class="select-none">On all products</h1>
                    <p class="select-none">Save more with coupons & up to 70% off!</p>
                    <button> Shop Now</button>
                </div>
            </div>

            <div class="slide-navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
              </div>
        </section>

        <!-- Feature Section -->
        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="/img/features/f1.png" alt="F-1">
                <h6>Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="/img/features/f2.png" alt="F-2">
                <h6>Online Order</h6>
            </div>
            <div class="fe-box">
                <img src="/img/features/f3.png" alt="F-3">
                <h6>Save Money</h6>
            </div>
            <div class="fe-box">
                <img src="/img/features/f4.png" alt="F-4">
                <h6>Promotion</h6>
            </div>
            <div class="fe-box">
                <img src="/img/features/f5.png" alt="F-5">
                <h6>Happy Sell</h6>
            </div>
            <div class="fe-box">
                <img src="/img/features/f6.png" alt="F-6">
                <h6>24/7 Support</h6>
            </div>

        </section>

        <!-- Products -->
        <section id="product1" class="section-p1 w-full">
            <h2>Featured Products</h2>
            <p>Summer Collection New Morden Design</p>
            
            <%- include('../product/productList',{products}) %> 

        </section>

        <!-- Call to Action -->
        <section id="banner" class="section-m1">
            <h4>Repair Services</h4>
            <h2>Up to <span>70% Off</span> All t-shirt & Accessories</h2>
            <button class="normal">Explore More</button>
        </section>

        <!--Small Banner  -->
        <section id="sm-banner" class="section-p1">
            <div class="bannner-box">
                <h4>crazy deals</h4>
                <h2>buy 1 get 1 free</h2>
                <span>The Best classic dress is on sale at cara</span>
                <button class="white">Learn More</button>
            </div>
            <div class="bannner-box">
                <h4>spring/summer</h4>
                <h2>upcoming season</h2>
                <span>The Best classic dress is on sale at cara</span>
                <button class="white">Collection</button>
            </div>
        </section>

        <!-- Feauture Banner -->
        <section id="banner3">
            <div class="banner-box">
                <h4>SEASON SALE</h4>
                <h3>winter Collection -50% OFF</h3>
            </div>
            <div class="banner-box ">
                <h4>NEW FOOTWEAR COLLECTION</h4>
                <h3>spring / summer 2023</h3>
            </div>
            <div class="banner-box ">
                <h4>T-SHIRT</h4>
                <h3>New Trendy Prints</h3>
            </div>
        </section>

        <script src="https://kit.fontawesome.com/19dfb206c9.js" crossorigin="anonymous"></script>
    </div>
