<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cara</title>
        <link rel="icon" href="../img/favicon.ico">
        <link rel="stylesheet" href="../CSS/style.css">
        <link rel="stylesheet" href="../CSS/shop.css">
        <link rel="stylesheet" href="../CSS/blog.css">
        <link rel="stylesheet" href="../CSS/about.css">
        <link rel="stylesheet" href="../CSS/contact.css">
        <link rel="stylesheet" href="../CSS/cart.css">
        <link rel="stylesheet" href="../CSS/responsive.css">
    </head>

    <body>
       

        <!-- Hero-Image -->
        <section id="page-header" class="about-header">
            <h2 class="select-none">#CheckoutNow</h2>
            <p class="select-none">Buy favourite item, Clear your Cart.</p>
        </section>

        <!-- Cart-Section -->
        <section id="cart" class="section-p1">

            <table width="100%">
                <thead>
                    <tr>
                        <td>    </td>
                        <td>images</td>
                        <td>product</td>
                        <td>price</td>
                        <td>quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                        </td>
                        <td><img src="../img/products/f1.jpg" alt="P-1" /></td>
                        <td>Cartoon Astronaut T-shirts</td>
                        <td>$98</td>
                        <td><input type="number" value="1" /></td>
                        <td>$98</td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                        </td>
                        <td><img src="../img/products/n2.jpg" alt="P-1" /></td>
                        <td>Navy Blue Shirt</td>
                        <td>$118</td>
                        <td><input type="number" value="1" /></td>
                        <td>$118</td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                        </td>
                        <td><img src="../img/products/n7.jpg" alt="P-1" /></td>
                        <td>Dual Pocket Khaki Shirt</td>
                        <td>$109</td>
                        <td><input type="number" value="1" /></td>
                        <td>$109</td>
                    </tr>

                </tbody>

            </table>
        </section>

        <!-- Checkout Details -->
        <section id="Checkout-Details" class="section-p1">
            <div id="coupon">
                <h3>Apply Coupon</h3>
                <div>
                  <input type="text" placeholder="Enter Your Coupon Code" />
                  <button class="normal">Apply</button>
                </div>
            </div>
            <div id="sub-total">
                <h3>Cart Totals</h3>
                <table>
                    <tr>
                        <td>Cart Subtotal</td>
                        <td>$ 325</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td><span>$ 99</span> Free</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong>$ 325</strong></td>
                    </tr>
                </table>
                <button class="normal">Proceed to checkout</button>
            </div>
          </section>
  
    </body>

</html>