<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>

    </head>

    <body>
       

        <!-- Hero Section -->
        <section id="page-header">
            <h2 class="select-none" >#slayAtHome</h2>
            <p class="select-none" >Shop more with Exciting Offers on Curated Brand!</p>
        </section> 

        <!-- Products -->
        <section id="product1" class="section-p1">
        
            <div class="pro-container">
                <div class="pro" onclick="window.location.href='/sproduct';">
                    <img src="../img/products/f1.jpg" alt="P-1">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f2.jpg" alt="P-2">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$67</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f3.jpg" alt="P-3">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$89</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f4.jpg" alt="P-4">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$99</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f5.jpg" alt="P-5">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$58</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f6.jpg" alt="P-6">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f7.jpg" alt="P-7">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$105</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/f8.jpg" alt="P-8">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$108</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n1.jpg" alt="N-1">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$89</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n2.jpg" alt="N-2">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$49</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n3.jpg" alt="N-3">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$119</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n4.jpg" alt="N-4">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$98</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n5.jpg" alt="N-5">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n6.jpg" alt="N-6">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$99</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n7.jpg" alt="N-7">
                    <div class="des">
                        <span>cara</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$129</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro" onclick="window.location.href='./sproduct.html';">
                    <img src="../img/products/n8.jpg" alt="N-8">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$74</h4>
                    </div>
                    <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                
                </div>
            </div>
        </section>

        <!--Slider Page Icon  -->
        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
        </section>


        <script src="https://kit.fontawesome.com/19dfb206c9.js" crossorigin="anonymous"></script>
    </body>

</html>