<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>

    <body>
       

        <!-- Hero Section -->
        <section id="page-header" class="about-header">
            <h2 class="select-none">#KnowUsBetter</h2>
            <p class="select-none">Know who are we , what we do and how we do!</p>
        </section> 

        <!-- About Section -->
        <section id="about-head" class="section-p1">
            <img src="../img/about/a6.jpg" alt="A-1">
            <div>
                <h2>Who We Are?</h2>
                <p>
                    At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of self-fashioning with Cara.</p>
                <abbr title="">
                    Create stunning images with as much pr as little control as you like thanks to a choice of Basic and Creative Modes.
                </abbr>
                <br><br>
                <marquee bgcolor="#DEEBFE" loop="-1" scrollamout="5" width="100%">
                    "Crafting Style, Elevating Comfort: Discover Fashion with a Difference."
                </marquee>
            </div>
        </section>

        <!-- About App -->
        <section id="about-app" class="section-p1">
            <h1>Download Our <a href="#">App</a></h1>
            <div class="video">
                <video src="../img/about/1.mp4" autoplay muted loop></video>
            </div>
        </section>

        <!-- Feature Section -->
        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="../img/features/f1.png" alt="F-1">
                <h6>Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="../img/features/f2.png" alt="F-2">
                <h6>Online Order</h6>
            </div>
            <div class="fe-box">
                <img src="../img/features/f3.png" alt="F-3">
                <h6>Save Money</h6>
            </div>
            <div class="fe-box">
                <img src="../img/features/f4.png" alt="F-4">
                <h6>Promotion</h6>
            </div>
            <div class="fe-box">
                <img src="../img/features/f5.png" alt="F-5">
                <h6>Happy Sell</h6>
            </div>
            <div class="fe-box">
                <img src="../img/features/f6.png" alt="F-6">
                <h6>24/7 Support</h6>
            </div>

        </section>

      
    </body>

</html>