<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
       
        <!-- Hero Section -->
        <section id="page-header" class="blog-header">
            <h2>#WelcomeBack</h2>
            <p>Your journey awaits. Log in and pick up right where you left off!</p>
        </section>

        <!-- Login Form Section -->
        <section id="login-form">
            <div class="form-box">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <input type="text" placeholder="Username" name="username" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <button type="submit" class="normal">Login</button>
                    <p><a href="#">Forgot Password?</a></p>
                </form>
            </div>
        </section>

       
    </body>
</html>
